PORT=5000
MONGO_URI=mongodb+srv://surendrathonta_db_user:surendra@cluster0.lrhxje5.mongodb.net/quizdb?retryWrites=true&w=majority
EMAIL_USER=formailchecker655@gmail.com
EMAIL_PASS=bnuk aweo sqxn xwxc
JWT_SECRET=secretquizkey12345
